.top-bar .controls-list .control-basket .toggle-basket-preview,
.top-bar .controls-list .control-basket .toggle-basket-preview:hover,
.top-bar .controls-list > li a:not(.btn)[aria-expanded="true"], 
.top-bar .controls-list > li a:not(.btn):hover{
    background-color: #7f273a;
}

a{
    color: #7f273a;
}
a:hover{
    color: #994154;
}

.btn-primary{
    background-color: #7f273a;
    border-color: #7f273a;
}
.btn-primary:hover{
    background-color: #994154;
    border-color: #994154;
}

@media (min-width: 992px){
    #mainNavbarCollapsable ul.mainmenu {
        color: #7f273a;
    }
    .no-touch #mainNavbarCollapsable ul.mainmenu > li:hover,
    .touch #mainNavbarCollapsable ul.mainmenu > li.hover,
    .no-touch #mainNavbarCollapsable ul.mainmenu > li > ul > li:hover,
    .touch #mainNavbarCollapsable ul.mainmenu > li > ul > li.hover {
        background-color: #7f273a;
    }
}